<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur reiciendis omnis, earum odio quo, vel culpa aperiam ab quam architecto dolore dicta repudiandae blanditiis laboriosam incidunt hic obcaecati nobis voluptatibus non saepe. Odio vitae itaque ratione qui similique nisi mollitia illum, laborum nam soluta ea veritatis asperiores ullam repudiandae expedita minus tempore nihil deleniti provident corporis deserunt cumque placeat quidem. Labore, sit? Ipsum accusamus, provident exercitationem incidunt a cumque, nostrum repudiandae fugiat officia rerum architecto dignissimos consequuntur aut ad, earum ab sapiente blanditiis mollitia deserunt minus quisquam eveniet sint maxime? Est explicabo provident aperiam voluptatibus?</p>
</article>